PlasCom2:NumStepsStatus = 1
PlasCom2:NumStepsIO = 1
PlasCom2:NumSteps = 10000
PlasCom2:RunMode = PC2
Domain:Names = Beam
Geometry:Names = cmgeom
#
#  ----- Set parameter values
# See OpenFOAM or SU2 config to obtain below freestream/reference values
Beam:GridNames = cmgeom:geom2dM1
Beam:SpatialOrder = 4
Beam:Param:refLength = 1.0
Beam:Param:refPr = 0.01
Beam:Param:refPressure = 103500
Beam:Param:refRho = 1.0
Beam:Param:gamma = 1.0741138560687433
Beam:Param:refRe = 1608570.794
Beam:Param:refTemperature = 300

# 1e-5s
Beam:Param:inputDT = 0.0032171415884290827

Beam:Param:sigmaDissipation = 0
Beam:Param:sigmaDilatation = 0
Beam:Param:dilatationCutoff = 0
Beam:Param:power = 0.0
Beam:Param:beta = 1.0
Beam:Param:bulkViscFac = 0.666666666666666666666666666666666

Beam:Param:Flags = 0
Beam:Param:nonDimensional = 1
Beam:Option:Pooya = 1
Beam:Option:WENO = 1
Beam:Param:interGridMode  = 0
Beam:UseCVODE = 0

Beam:preciceParticipant = Fluid
Beam:preciceConfig = ../precice-config-explicit.xml
Beam:preciceMeshName = Fluid-Mesh
#Beam:preciceFlagsRead = 4
#Beam:preciceFlagsWrite = 8
Beam:dz=1.0
Beam:Pgauge=0.0

#
#  ----- Geometry config 
cmgeom:GridNames = geom2dM1
# 
#  -----  grid 1
cmgeom:geom2dM1:Dimension = 2
#cmgeom:geom2dM1:DecompSizes = 4 1
cmgeom:geom2dM1:DecompSizes = 2 1

cmgeom:geom2dM1:NumPoints =  299 59
cmgeom:geom2dM1:PhysicalExtent = -0.6125 -0.1125 3.1125 0.6125

cmgeom:geom2dM1:GenerateGrid = NO
cmgeom:geom2dM1:Generator:Mode = Uniform
cmgeom:geom2dM1:Type = Curvilinear
cmgeom:geom2dM1:RegionNames = L R BL BR T interface

cmgeom:geom2dM1:L  =           1 10 10 1 -1
cmgeom:geom2dM1:R  =          -1 -10 -10 1 -1
cmgeom:geom2dM1:BL =           2 1 49 10 10
cmgeom:geom2dM1:BR =           2 131 -1 10 10
cmgeom:geom2dM1:T  =          -2 1 -1 -10 -10
cmgeom:geom2dM1:interface  =  2 50 130 10 10

#
# %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
# ----- boundary 
Beam:BCNames = WALL_BC1 WALL_BC WALL_BC2 Inflow Outflow
#
#Beam:WALL_BC1:BCType = GHOST_NOSLIP_ISOTHERMAL_WALL_ZPG
#Beam:WALL_BC1:Param:Fields = Numbers Flags
#Beam:WALL_BC1:Field:Numbers:Meta = 1 s 8
#Beam:WALL_BC1:Field:Flags:Meta = 1 s 4
#Beam:WALL_BC1:Param:Numbers = 1.0
#Beam:WALL_BC1:Param:Flags = 0
#Beam:WALL_BC1:RegionNames = cmgeom:geom2dM1:interface
#Beam:WALL_BC1:BoundaryNames = wallInt

#Beam:WALL_BC1:BCType = GHOST_PRECICE_THERMAL_ZPG
Beam:WALL_BC1:BCType = GHOST_NOSLIP_ISOTHERMAL_WALL_ZPG
Beam:WALL_BC1:Param:Fields = Numbers Flags
Beam:WALL_BC1:Field:Numbers:Meta = 4 s 8
Beam:WALL_BC1:Field:Flags:Meta = 1 s 4
#Beam:WALL_BC1:Param:Numbers = 1231231231323 #1.0333333333333334
Beam:WALL_BC1:Param:Numbers = 1.0333333333333334
Beam:WALL_BC1:Param:Flags = 0
Beam:WALL_BC1:RegionNames = cmgeom:geom2dM1:interface
Beam:WALL_BC1:BoundaryNames = wallInt

Beam:WALL_BC:BCType = GHOST_SLIP_ADIABATIC_WALL
Beam:WALL_BC:Param:Fields = Numbers Flags
Beam:WALL_BC:Field:Numbers:Meta = 1 s 8
Beam:WALL_BC:Field:Flags:Meta = 1 s 4
Beam:WALL_BC:Param:Numbers = 0
Beam:WALL_BC:Param:Flags = 0
Beam:WALL_BC:RegionNames = cmgeom:geom2dM1:BL cmgeom:geom2dM1:T
Beam:WALL_BC:BoundaryNames = wallBL wallT

Beam:WALL_BC2:BCType = GHOST_NOSLIP_ADIABATIC_WALL
Beam:WALL_BC2:Param:Fields = Numbers Flags
Beam:WALL_BC2:Field:Numbers:Meta = 1 s 8
Beam:WALL_BC2:Field:Flags:Meta = 1 s 4
Beam:WALL_BC2:Param:Numbers = 0
Beam:WALL_BC2:Param:Flags = 0
Beam:WALL_BC2:RegionNames = cmgeom:geom2dM1:BR
Beam:WALL_BC2:BoundaryNames = wallBR

Beam:Outflow:BCType = GHOST_SUBSONIC_OUTFLOW
Beam:Outflow:Param:Fields = Numbers Flags
Beam:Outflow:Field:Numbers:Meta = 1 s 8
Beam:Outflow:Field:Flags:Meta = 1 s 4
Beam:Outflow:Param:Numbers = 1.0
Beam:Outflow:Param:Flags = 0
Beam:Outflow:RegionNames = cmgeom:geom2dM1:R 
Beam:Outflow:BoundaryNames = wallR 

Beam:Inflow:BCType = GHOST_SUBSONIC_INFLOW
Beam:Inflow:Param:Fields = Numbers Flags
Beam:Inflow:Field:Numbers:Meta = 6 s 8
Beam:Inflow:Field:Flags:Meta = 1 s 4
Beam:Inflow:Param:Numbers = 1.0000000033333334 1.0000000483091807 1.0000000033333334 1.0000000483091807 1.0000000033333334 1.0000000483091807
Beam:Inflow:Param:Flags = 0
Beam:Inflow:RegionNames = cmgeom:geom2dM1:L
Beam:Inflow:BoundaryNames = wallL
#
# %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
#  ----- Data dictionary config cv01 cv02 cv03 cv04
Beam:Advancer:Fields = rho rhoV rhoE
Beam:IO:Fields = rho rhoV rhoE
Beam:Param:Fields = gamma sigmaDissipation sigmaDilatation inputDT inputCFL refRe refPr dilatationCutoff refLength refRho refPressure refTemperature power beta bulkViscFac Flags nonDimensional interGridMode gasModel transportModel chemistryModel
Beam:State:Fields = rho rhoV rhoE simTime simDT simCFL gridTime gridDT gridCFL velocity sconn imask sconn2 gridMetrics gridJacobian temperature pressure
Beam:NumStepsProbe = 100
Beam:StatusFields = rho pressure temperature
Beam:Field:simTime:Meta = 1 d 8 time
Beam:Field:inputCFL:Meta = 1 d 8 stabilityno
Beam:Field:simCFL:Meta = 1 d 8 stabilityno
Beam:Field:inputDT:Meta = 1 d 8 time
Beam:Field:simDT:Meta = 1 d 8 time
Beam:Field:gridTime:Meta = 1 m 8 time
Beam:Field:gridDT:Meta = 1 m 8 time
Beam:Field:gridCFL:Meta = 1 m 8 stabilityno
Beam:Field:gamma:Meta = 1 s 8 shratio
Beam:Field:power:Meta = 1 s 8 powerLawTransport
Beam:Field:beta:Meta = 1 s 8 powerLawTransport
Beam:Field:bulkViscFac:Meta = 1 s 8 powerLawTransport
Beam:Field:gasModel:Meta = 1 s 4 eos
Beam:Field:transportModel:Meta = 1 s 4 transport
Beam:Field:chemistryModel:Meta = 1 s 4 chemistry
Beam:Field:sigmaDissipation:Meta = 1 s 8 artDissParam
Beam:Field:sigmaDilatation:Meta = 1 s 8 artDissParam
Beam:Field:dilatationCutoff:Meta = 1 s 8 artDissParam
Beam:Field:refRe:Meta = 1 s 8 ReynoldsNo
Beam:Field:refPr:Meta = 1 s 8 PrandtlNo
Beam:Field:Flags:Meta = 2 s 4 fluidOptions
Beam:Field:nonDimensional:Meta = 1 s 4 non-dimensional
Beam:Field:interGridMode:Meta = 1 d 4 intergridmode
Beam:Field:refRho:Meta = 1 m 8 density
Beam:Field:refLength:Meta = 1 m 8 length
Beam:Field:refPressure:Meta = 1 m 8 pressure
Beam:Field:refTemperature:Meta = 1 m 8 temperature
Beam:Field:imask:Meta = 1 n 4 imask
Beam:Field:rho:Meta = 1 n 8 density
Beam:Field:rhoE:Meta = 1 n 8 energy
Beam:Field:pressure:Meta = 1 n 8 pressure
Beam:Field:temperature:Meta = 1 n 8 temperature
Beam:Field:rhom1:Meta = 1 n 8 specificVolume
Beam:Field:sconn:Meta = 2 n 4 sconn
Beam:Field:sconn2:Meta = 2 n 4 sconn2
Beam:Field:rhoV:Meta = 2 n 8 momentum
Beam:Field:velocity:Meta = 2 n 8 velocity
Beam:Field:gridMetrics:Meta = 4 n 8 metrics
Beam:Field:gridJacobian:Meta = 2 n 8 jacnjacm1
Beam:Field:temperature:Meta = 1 n 8 temperature
Beam:Field:pressure:Meta = 1 n 8 pressure
Beam:Field:cv01:Meta = 1 n 8 legacyrho
Beam:Field:cv02:Meta = 1 n 8 legacyrhoV-1
Beam:Field:cv03:Meta = 1 n 8 legacyrhoV-2
Beam:Field:cv04:Meta = 1 n 8 legacyrhoE
