PlasCom2:NumStepsStatus = 1
PlasCom2:NumStepsIO = 1000
PlasCom2:NumSteps = 100000

PlasCom2:RunMode = PC2

Domain:Names = Beam
Geometry:Names = cmgeom
Beam:GridNames = cmgeom:geom2dM1

# Must set as 4, but is overwritten anyways by WENO because that's why:
Beam:SpatialOrder = 4

# Turn WENO off:
Beam:Option:WENO = 0
Beam:Option:Pooya = 1

# -------------------------------------------------------------------
# Set all parameters
Beam:Param:Fields = inputDT refLength refPr refPressure refRho gamma refRe refTemperature transportModel nonDimensional hybridWENO typeOfWENO SWIsOn minSW SFIsOn SFSigma LESIsOn LocalAveragingIsOn LESType SWFT TFWR SBType wenoStrongShocks epsilon mu0 wenoDescale

# IMPORTANT: Any and all parameters need to be added to Beam:Params:Fields

# 1e-5s
Beam:Param:inputDT = 0.0032171415884290827
Beam:Field:inputDT:Meta = 1 d 8 time

Beam:Param:refLength = 1
Beam:Field:refLength:Meta = 1 m 8 length

Beam:Param:refPr = 0.01
Beam:Field:refPr:Meta = 1 s 8 PrandtlNo

Beam:Param:refPressure = 103500
Beam:Field:refPressure:Meta = 1 m 8 pressure

Beam:Param:refRho = 1.0
Beam:Field:refRho:Meta = 1 m 8 density

Beam:Param:gamma = 1.0741138560687433
Beam:Field:gamma:Meta = 1 s 8 shratio

Beam:Param:refRe = 
Beam:Field:refRe:Meta = 1 s 8 ReynoldsNo

Beam:Param:refTemperature = 300
Beam:Field:refTemperature:Meta = 1 m 8 temperature

# Use Sutherland's law:
Beam:Param:transportModel=2
Beam:Field:transportModel:Meta = 1 s 4 transport

# Use normal PC2 nondimensionalization
Beam:Param:nonDimensional = 1
Beam:Field:nonDimensional:Meta = 1 s 4 non-dimensional

Beam:Param:SFIsOn = 1 # Activate selective filtering
Beam:Field:SFIsOn:Meta = 1 s 4 non-dimensional

Beam:Param:SFSigma = 0.05
Beam:Field:SFSigma:Meta = 1 d 8 non-dimensional

# -------------------------------------------------------------------

cmgeom:GridNames = geom2dM1
cmgeom:geom2dM1:GenerateGrid = NO
cmgeom:geom2dM1:Dimension = 2


# IMPORTANT:
cmgeom:geom2dM1:NumPoints = 299 59
cmgeom:geom2dM1:DecompSizes = 4 1

cmgeom:geom2dM1:DecompDirs = 1 1
cmgeom:geom2dM1:PhysicalExtent = 0 1 0 1
cmgeom:geom2dM1:PeriodicDirs  = 0 0
Beam:PeriodicDirs    = 0 0
cmgeom:geom2dM1:PeriodicLengths  = 0 0

cmgeom:geom2dM1:Type = Curvilinear-MovingGrid

# -------------------------------------------------------------------
# IMPORTANT
# RegionNames: set names of each boundary condition
cmgeom:geom2dM1:RegionNames = Left Right Bottom_Left Bottom_Right Top Interface

#Format for numbers: coordinate direction (1 is i, -1 is -i, 2 is j, etc.), x1 coordinate, x2, y1, y2, etc.
cmgeom:geom2dM1:Left  =         1  10  10   1  -1
cmgeom:geom2dM1:Right  =        1 -10 -10   1  -1
cmgeom:geom2dM1:Bottom_Left =   2   1  49  10  10
cmgeom:geom2dM1:Bottom_Right =  2 131  -1  10  10
cmgeom:geom2dM1:Top  =         -2   1  -1 -10 -10
cmgeom:geom2dM1:Interface  =    2  50 130  10  10

Beam:Option:Precice=ON
Beam:Precice:Participant=PC2
Beam:Precice:Config=../precice-config.xml
Beam:Precice:Interfaces=cmgeom:geom2dM1:Interface

# %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
# ----- boundary 
Beam:BCNames = Inlet Outlet Slip_Wall Precice_Isothermal_Wall Adiabatic_Wall

Beam:Inlet:BCType = GHOST_SUBSONIC_INFLOW
Beam:Inlet:Param:Fields = Numbers Flags
Beam:Inlet:Field:Numbers:Meta = 6 s 8
Beam:Inlet:Field:Flags:Meta = 2 s 4
Beam:Inlet:Param:Numbers = 1.0000000033333334  1.000000048309179 # T0 and p0
Beam:Inlet:Param:Flags = 0
Beam:Inlet:RegionNames = cmgeom:geom2dM1:Inlet
Beam:Inlet:BoundaryNames = inlet

Beam:Outlet:BCType = GHOST_SUBSONIC_OUTFLOW
Beam:Outlet:Param:Fields = Numbers Flags
Beam:Outlet:Field:Numbers:Meta = 1 s 8
Beam:Outlet:Field:Flags:Meta = 1 s 4
Beam:Outlet:Param:Numbers = 1.0
Beam:Outlet:Param:Flags = 0
Beam:Outlet:RegionNames = cmgeom:geom2dM1:Right
Beam:Outlet:BoundaryNames = right

Beam:Slip_Wall:BCType = GHOST_SLIP_ADIABATIC_WALL_ZPG
Beam:Slip_Wall:Param:Fields = Numbers Flags
Beam:Slip_Wall:Field:Numbers:Meta = 0 s 8
Beam:Slip_Wall:Field:Flags:Meta = 0 s 4
Beam:Slip_Wall:Param:Numbers = 0.0
Beam:Slip_Wall:Param:Flags = 0
Beam:Slip_Wall:RegionNames = cmgeom:geom2dM1:Bottom_Left cmgeom:geom2dM1:Top
Beam:Slip_Wall:BoundaryNames = bottom_left top

Beam:Adiabatic_Wall:BCType = GHOST_SLIP_ADIABATIC_WALL_ZPG
Beam:Adiabatic_Wall:Param:Fields = Numbers Flags
Beam:Adiabatic_Wall:Field:Numbers:Meta = 0 s 8
Beam:Adiabatic_Wall:Field:Flags:Meta = 0 s 4
Beam:Adiabatic_Wall:Param:Numbers = 0.0
Beam:Adiabatic_Wall:Param:Flags = 0
Beam:Adiabatic_Wall:RegionNames = cmgeom:geom2dM1:Bottom_Right
Beam:Adiabatic_Wall:BoundaryNames = bottom_right

# TODO:
Beam:Precice_Isothermal_Wall:BCType = PRECICE_
Beam:Precice_Isothermal_Wall:Param:Fields = Numbers Flags NodalValues
Beam:Precice_Isothermal_Wall:Field:Numbers:Meta = 1 s 8
Beam:Precice_Isothermal_Wall:Field:Flags:Meta = 1 s 4
Beam:Precice_Isothermal_Wall:Field:NodalValues:Meta = 1 n 8
Beam:Precice_Isothermal_Wall:Param:Numbers = 1.0333333333333334
Beam:Precice_Isothermal_Wall:Param:Flags = 0
Beam:Precice_Isothermal_Wall:RegionNames = cmgeom:geom2dM1:Interface
Beam:Precice_Isothermal_Wall:BoundaryNames = interface


# %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
Beam:NumStepsProbe = 1000
Beam:Advancer:Fields = rho rhoV rhoE
Beam:IO:Fields = rho rhoV rhoE
Beam:StatusFields = rho pressure temperature

Beam:State:Fields = rho rhoV rhoE simTime gridJacobian sconn pressure temperature velocity mu LESMask switchFunction imask

# Required:
Beam:Field:rho:Meta = 1 n 8 density
Beam:Field:rhoV:Meta = 2 n 8 momentum
Beam:Field:rhoE:Meta = 1 n 8 energy
Beam:Field:simTime:Meta = 1 d 8 time
Beam:Field:gridJacobian:Meta = 2 n 8 jacnjacm1
Beam:Field:sconn:Meta = 2 n 4 sconn

# Optional:
# Beam:Field:gridMetrics:Meta = 4 n 8 metrics
Beam:Field:pressure:Meta = 1 n 8 pressure
Beam:Field:temperature:Meta = 1 n 8 temperature
Beam:Field:velocity:Meta = 2 n 8 velocity
Beam:Field:mu:Meta = 1 n 8 dynamic-viscosity

# LES Mask is actually the Ducros shock sensor (?)
Beam:Field:LESMask:Meta = 1 n 4 non-dimensional

Beam:Field:switchFunction:Meta = 2 n 8 non-dimensional
Beam:Field:imask:Meta = 1 n 4 imask

