
#steps to give you low level output
PlasCom2:NumStepsStatus = 10
#Number of steps before it saves restart file
PlasCom2:NumStepsIO = 1000
#Total number of steps before it stops
PlasCom2:NumSteps = 1

#PC2 or CM
PlasCom2:RunMode = PC2
#Domain irrelevant just need to state it everywhere else in teh file
Domain:Names = Beam
#Also something that you just reference everywhere
Geometry:Names = cmgeom
#
#  ----- Set parameter values
Beam:GridNames = cmgeom:geom2dM1

Beam:Param:refLength = 1
Beam:Param:refPr = 0.72
Beam:Param:refPressure = 1
Beam:Param:refRho = 1
#if reference pressure goes below reference density it breaks
Beam:Param:gamma = 1.4
#Set Re to 0 make it inviscid
Beam:Param:refRe = 0

Beam:Param:refTemperature = 1
#Time step (non-dimensional) so you need to figure it out
Beam:Param:inputDT = 0.0000012

#Mess with the SAT boundary conditions - set to 0 they do nothing
Beam:Param:sigmaDissipation = 0
Beam:Param:sigmaDilatation = 0
Beam:Param:dilatationCutoff = 0
#Viscosity temperature variation (power law) (similar to Sutherland)
#These should be air standard numbers but I should check them
Beam:Param:power = 0.666
Beam:Param:beta = 1
Beam:Param:bulkViscFac = 0.6

#In PC2 documentation wiki
Beam:Param:nonDimensional = 1
#Gets overwritten when using WENO but can change (if you don't use 4 WENO will throw error)
Beam:SpatialOrder = 4
#Another way to set numerical scheme
Beam:Param:Flags = 0
#Turns on WENO
Beam:Option:WENO = 1
#Beam:Option:wenoStrongShocks = 1

#
Beam:Param:LESIsOn = 0
Beam:Param:LocalAveragingIsOn = 1
Beam:Param:LESType = 2
#
Beam:Param:D2IsOn = 0
#
Beam:Param:SFIsOn = 1
Beam:Param:SFSigma = 0.05
Beam:Param:SWFT = 0.5 # Value above which LES is inactive
Beam:Param:TFWR = 3.0
#
Beam:Param:typeOfWENO = 4
Beam:Param:SWIsOn = 1
Beam:Param:minSW = 2e-2 # minimum WENO dissipation factor
#



#Used Pooya's implementation of WENO
Beam:Option:Pooya = 1
#For using Overkit 
Beam:Param:interGridMode  = 0
#Use chemistry thing?
Beam:UseCVODE = 0
#Next 2 are only in Blaine's branch so remove them for using TFI
# Beam:UseTFI = 0
# Beam:testFlags = 0 # 2=testTFI, 4=testFSP, 8=testAcoustic, 16=testBox (note: TFI must be on for some tests)
#
#  ----- Geometry config 
cmgeom:GridNames = geom2dM1
# 
#Can generate a uniform grid
#To import from Pointwise
#cmgeom:geom2dM1:GenerateGrid = NO
#Generate grid in Pointwise
#Use MATLAB script that converts it to a PC2 restart file
#Specify restart file 
#The stuff below still has to make sense
#  -----  grid 1
cmgeom:geom2dM1:Dimension = 2
# JOE ONLY CHANGE THE NUMBER OF POINTS
cmgeom:geom2dM1:NumPoints = 299 59
cmgeom:geom2dM1:DecompSizes = 1 1
cmgeom:geom2dM1:DecompDirs = 1 1
#Will set dimensions of grid
cmgeom:geom2dM1:PhysicalExtent = 0 1 0 1

cmgeom:geom2dM1:PeriodicDirs  = 0 0
Beam:PeriodicDirs	 = 0 0
cmgeom:geom2dM1:PeriodicLengths  = 0 0


cmgeom:geom2dM1:GenerateGrid = YES
cmgeom:geom2dM1:Generator:Mode = Uniform
#Have to use curvilinear if you want to use WENO
cmgeom:geom2dM1:Type = Curvilinear
#Add up and down for 3D
cmgeom:geom2dM1:RegionNames = Left Right Bottom Top
#Format for numbers: coordinate direction (1 is i, -1 is -i, 2 is j, etc.), x1 coordinate, x2, y1, y2, etc.
#Purpose of this is to offset from the mesh boundaries for ghost cells
cmgeom:geom2dM1:Left  =           1  10  10  1 -1
cmgeom:geom2dM1:Right  =          -1 -10 -10  1 -1
cmgeom:geom2dM1:Bottom  =           2  1 -1  10  10
cmgeom:geom2dM1:Top  =          -2  1 -1 -10 -10

#
# %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
# ----- boundary 
#Beam:BCNames = WALL_BC FarField
#
#Beam:WALL_BC:BCType = GHOST_NOSLIP_ADIABATIC_WALL
#Beam:WALL_BC:Param:Fields = Numbers Flags
#Beam:WALL_BC:Field:Numbers:Meta = 1 s 8
#Beam:WALL_BC:Field:Flags:Meta = 1 s 4
#Beam:WALL_BC:Param:Numbers = 1.0
#Beam:WALL_BC:Param:Flags = 0
#Beam:WALL_BC:RegionNames = cmgeom:geom2dM1:Bottom #cmgeom:geom2dM1:L cmgeom:geom2dM1:T cmgeom:geom2dM1:B
#Beam:WALL_BC:BoundaryNames = wallBottom #wallL wallT wallB

#Beam:FarField:BCType = GHOST_ZERO_GRADIENT
#Beam:FarField:Param:Fields = Numbers Flags
#Beam:FarField:Field:Numbers:Meta = 1 s 8
#Beam:FarField:Field:Flags:Meta = 1 s 4
#Beam:FarField:Param:Numbers = 0.0
#Beam:FarField:Param:Flags = 0
#Beam:FarField:RegionNames = cmgeom:geom2dM1:Top #cmgeom:geom2dM1:L cmgeom:geom2dM1:R #cmgeom:geom2dM1:B
#Beam:FarField:BoundaryNames = wallTop #wallL wallR #wallB


#
# %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
#  ----- Data dictionary config cv01 cv02 cv03 cv04
#Defines all of the parameters you might use - don't mess with it since it breaks it
#Change some stuff to go from 2D to 3D
Beam:Advancer:Fields = rho rhoV rhoE
Beam:IO:Fields = rho rhoV rhoE
#Beam:Param:Fields = gamma sigmaDissipation sigmaDilatation inputDT inputCFL refRe refPr dilatationCutoff refLength refRho refPressure refTemperature power beta bulkViscFac Flags nonDimensional interGridMode gasModel transportModel chemistryModel
#Beam:State:Fields = rho rhoV rhoE simTime simDT simCFL gridTime gridDT gridCFL velocity sconn imask sconn2 gridMetrics gridJacobian temperature pressure

Beam:Param:Fields = gamma sigmaDissipation sigmaDilatation inputDT inputCFL refRe refPr dilatationCutoff refLength refRho refPressure refTemperature power beta bulkViscFac Flags nonDimensional interGridMode gasModel transportModel chemistryModel LESIsOn D2IsOn typeOfWENO LESType SFIsOn SFSigma TFWR LocalAveragingIsOn SWIsOn SWFT minSW wenoStrongShocks
Beam:State:Fields = rho rhoV rhoE simTime simDT simCFL gridTime gridDT gridCFL velocity sconn imask sconn2 gridMetrics gridJacobian temperature pressure switchFunction dOI adsCIScalar adsCS2Scalar avgPrtScalar LESMask

Beam:NumStepsProbe = 100
Beam:StatusFields = rho pressure temperature
Beam:Field:simTime:Meta = 1 d 8 time
Beam:Field:inputCFL:Meta = 1 d 8 stabilityno
Beam:Field:simCFL:Meta = 1 d 8 stabilityno
Beam:Field:inputDT:Meta = 1 d 8 time
Beam:Field:simDT:Meta = 1 d 8 time
Beam:Field:gridTime:Meta = 1 m 8 time
Beam:Field:gridDT:Meta = 1 m 8 time
Beam:Field:gridCFL:Meta = 1 m 8 stabilityno
Beam:Field:gamma:Meta = 1 s 8 shratio
Beam:Field:power:Meta = 1 s 8 powerLawTransport
Beam:Field:beta:Meta = 1 s 8 powerLawTransport
Beam:Field:bulkViscFac:Meta = 1 s 8 powerLawTransport
Beam:Field:gasModel:Meta = 1 s 4 eos
Beam:Field:transportModel:Meta = 1 s 4 transport
Beam:Field:chemistryModel:Meta = 1 s 4 chemistry
Beam:Field:sigmaDissipation:Meta = 1 s 8 artDissParam
Beam:Field:sigmaDilatation:Meta = 1 s 8 artDissParam
Beam:Field:dilatationCutoff:Meta = 1 s 8 artDissParam
Beam:Field:refRe:Meta = 1 s 8 ReynoldsNo
Beam:Field:refPr:Meta = 1 s 8 PrandtlNo
Beam:Field:Flags:Meta = 2 s 4 fluidOptions
Beam:Field:nonDimensional:Meta = 1 s 4 non-dimensional

#
Beam:Field:LESIsOn:Meta = 1 s 4 non-dimensional
Beam:Field:typeOfWENO:Meta = 1 s 4 non-dimensional
Beam:Field:LESType:Meta = 1 s 4 non-dimensional
Beam:Field:D2IsOn:Meta = 1 s 4 non-dimensional
Beam:Field:SFIsOn:Meta = 1 s 4 non-dimensional
Beam:Field:SFSigma:Meta = 1 d 8 non-dimensional
Beam:Field:TFWR:Meta = 1 d 8 non-dimensional
Beam:Field:LocalAveragingIsOn:Meta = 1 s 4 non-dimensional
Beam:Field:SWFT:Meta = 1 s 8 non-dimensional
Beam:Field:minSW:Meta = 1 s 8 non-dimensional
Beam:Field:SWIsOn:Meta = 1 s 4 non-dimensional
#
Beam:Field:dOI:Meta = 1 n 8 non-dimensional
#
Beam:Field:switchFunction:Meta = 3 n 8 non-dimensional
#
Beam:Field:LESMask:Meta = 1 n 4 non-dimensional
#
Beam:Field:wenoStrongShocks = 1 n 4 non-dimensional

Beam:Field:interGridMode:Meta = 1 d 4 intergridmode
Beam:Field:refRho:Meta = 1 m 8 density
Beam:Field:refLength:Meta = 1 m 8 length
Beam:Field:refPressure:Meta = 1 m 8 pressure
Beam:Field:refTemperature:Meta = 1 m 8 temperature
Beam:Field:imask:Meta = 1 n 4 imask
Beam:Field:rho:Meta = 1 n 8 density
Beam:Field:rhoE:Meta = 1 n 8 energy
Beam:Field:pressure:Meta = 1 n 8 pressure
Beam:Field:temperature:Meta = 1 n 8 temperature
Beam:Field:rhom1:Meta = 1 n 8 specificVolume
#For 3D 2->3 for sconn, sconn2, rhoV, velocity
Beam:Field:sconn:Meta = 2 n 4 sconn
Beam:Field:sconn2:Meta = 2 n 4 sconn2
Beam:Field:rhoV:Meta = 2 n 8 momentum
Beam:Field:velocity:Meta = 2 n 8 velocity
#For 3D it should be 9 n 8 metrics
Beam:Field:gridMetrics:Meta = 4 n 8 metrics
Beam:Field:gridJacobian:Meta = 2 n 8 jacnjacm1
Beam:Field:temperature:Meta = 1 n 8 temperature
Beam:Field:pressure:Meta = 1 n 8 pressure
Beam:Field:cv01:Meta = 1 n 8 legacyrho
Beam:Field:cv02:Meta = 1 n 8 legacyrhoV-1
Beam:Field:cv03:Meta = 1 n 8 legacyrhoV-2
Beam:Field:cv04:Meta = 1 n 8 legacyrhoE
